{% load static %}
<!--header-->
<div class="site-header">
  <p class="h-logo">
    <a href="/"
      ><img src="{% static 'img/logo2.png' %}" alt="El rey del termo"
    /></a>
  </p>

  <div class="h-shop">
    <form
      method="post"
      action="{% url 'web:productosPorNombre' %}"
      class="h-search"
      id="h-search"
    >
      {% csrf_token %}
      <input type="text" name="nombre" placeholder="Buscar..." />
      <button type="submit"><i class="ion-search"></i></button>
    </form>

    <ul class="h-shop-links">
      <li class="h-search-btn" id="h-search-btn"><i class="ion-search"></i></li>
    </ul>
  </div>
</div>
