<!--navbar-->
<div class="container-fluid page-styling site-header-before">
  <div class="row">
    <div class="col-lg-2">
      <ul
        class="links_list links_list-align-left align-center-desktop topbar-social"
      >
        <li>
          <p class="links_list-value">
            <a
              href="https://www.facebook.com/elreydeltermo"
              target="_blank"
              rel="nofollow"
            >
              <i class="fa fa-facebook"></i>
            </a>
          </p>
        </li>
        <li>
          <p class="links_list-value">
            <a
              href="https://www.instagram.com/elreydeltermo"
              target="_blank"
              rel="nofollow"
            >
              <i class="fa fa-instagram"></i>
            </a>
          </p>
        </li>
      </ul>
    </div>
    <div class="col-lg-10">
      <ul
        class="links_list links_list-align-right align-center-desktop topbar-contacts"
      >
        <li>
          <p class="links_list-label">Dirección</p>
          <p class="links_list-value">
            <a
              href="https://www.google.com/maps/place/Velazqu%C3%A9z+3247,+C1407+CABA/@-34.6498879,-58.461556,17z/data=!3m1!4b1!4m6!3m5!1s0x95bccbd9debd5c29:0x2e851cdaf0b376a!8m2!3d-34.6498923!4d-58.4589811!16s%2Fg%2F11c5dpl16x"
              target="_blank"
              rel="nofollow"
              >Velazquez 3247, CABA</a
            >
          </p>
        </li>
        <li>
          <p class="links_list-label">Contacto</p>
          <p class="links_list-value">
            <a
              href="mailto:elreydeltermo@gmail.com"
              target="_blank"
              rel="nofollow"
              >elreydeltermo@gmail.com</a
            >
          </p>
        </li>
        <li>
          <p class="links_list-label">Telefono</p>
          <p class="links_list-value">
            <a
              href="https://wa.me/541139568010?text=Hola,%20me%20comunicaba%20atrevés%20de%20tu%20sitio%20web."
              target="_blank"
              rel="nofollow"
              >+54 9 11 3956-8010</a
            >
          </p>
        </li>
        <li>
          <p class="links_list-label">Telefono</p>
          <p class="links_list-value">
            <a
              href="https://wa.me/541123657816?text=Hola,%20me%20comunicaba%20atrevés%20de%20tu%20sitio%20web."
              target="_blank"
              rel="nofollow"
              >+54 9 11 2365-7816</a
            >
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--footer-->
<div
  style="background-color: #f1f1fb; color: black"
  class="container-fluid page-styling site-header-before"
>
  <div class="row">
    <div class="col-lg-12 align-center">
      <ul class="links_list align-center-desktop topbar-contacts">
        <li>
          <p style="max-width: 4%" class="h-logo">
            <a href="/">
              <img src="static/img/logo3.png" alt="EdShop" />
            </a>
          </p>
          <p class="links_list-label">El Rey del Termo</p>
          <p>
            <a
              href="https://edu-web-eta.vercel.app/"
              target="_blank"
              class="f-logo"
              >Creado por Eduardo Cano - Copyright &#169; (2023)</a
            >
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
