{% extends 'layout.html' %} {% block content %}
<ul class="b-crumbs">
  <li><a href="/">Inicio</a></li>
  <li><a href="/">Catalogo</a></li>
  <li>Producto</li>
</ul>
<article>
  <div class="prod">
    <div class="prod-slider-wrap prod-slider-shown">
      <div class="" id="prod-slider">
        <ul class="slides">
          <li>
            <a data-fancybox-group="prod" class="fancy-img" href="#">
              {% if producto.imagen %}
              <img src="{{producto.imagen.url}}" alt="{{producto.nombre}}" />
              {% else %}
              <img
                src="https://via.placeholder.com/250"
                alt="{{producto.nombre}}"
              />
              {% endif %}
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="prod-cont">
      <p class="prod-categs">
        <a href="{% url 'web:productosPorCategoria' producto.categoria_id %}"
          >{{producto.categoria}}</a
        >
      </p>
      <h1>{{producto.nombre}}</h1>
      <div class="variations_form cart">
        <p class="prod-price">${{producto.precio}}</p>
        <p class="prod-excerpt">{{producto.descripcion}}...</p>
        <div class="prod-add">
          <form>
            {% csrf_token %}
            <a
              style="background-color: #16be45"
              class="button"
              href="https://wa.me/541150229129?text=Hola,%20Me%20gustaría%20comprar%20el%20producto%20{{producto.nombre}}"
              class="whatsapp"
              target="_blank"
            >
              <i class="icon fa fa-whatsapp"></i>Comprar producto
            </a>
          </form>
        </div>
      </div>
      <div>
        <dl class="product_meta"></dl>
      </div>
    </div>
  </div>
</article>

{% endblock %}
